<style type="text/css">
label {
	display:inline;
	text-align: right;
	width:76px;
}
</style>

<div style="padding:10px;">
	<%= form_tag review_request_path, method: :get %>

	<%= label_tag 'Date:' %>
	<%= label_tag 'Oct 14, 2013' %>

	<br />

	<%= label_tag 'Location:' %>
	<%= label_tag 'Fiesta Island' %>
	<br />
	<%= label_tag '1590 e mission bay dr, san diego', nil, class: 'need-a-class' %>

	<br />

	<% meetup_types = MeetupTypes.find @request.meetup_type_id %>
	<%= image_tag(meetup_types.name + ".png") %>

</div>
