SEARCH BAR HERE
<div class="row span3">
<% @interests.each do |i| %>
	<div class="span2">
	<%= i.asset_name %><br /><%= i.asset_location %>
	</div>
	<div class="span1"><%= i.asset_start_date %></div>
<% end %>

<br />

<% if @event.present? %>

	<div class="row span3">
	<% @event.results.each do |e| %>
		<div class="span2">
			<%= e.title %><br />[TODO: LOCATION]
		</div>
		<div class="span1"><%= e.start_date %></div>
	<% end %>
	</div>

<% end %>